body {
	font-family : arial, san-serif ;
	margin : 0px ;

	}
header {
	background-color : #222 ;
	color : white ;
	padding : 10px ;
	}
	
ul {
	list-style : none ;
	padding : 10px ;
	margin : 10px ;
	}
	
.lien {
	padding-left : 10px ;
	padding-right : 10px ;	
	}
	
.lien li {
	display : inline-block ;
	margin : 10px ;
	}
	
.lien a {
	padding : 10px ;
	}
	
ul li a {
	color : blue ;
	text-decoration : none ;
	padding : 10px ;
	}
	
main {
	padding : 20px ;
	}

footer {
	background-color : #eee ;
	text-align : center ;
	padding : 10px ;	
	clear : both ;
	}

.image {
	width : 600px ;
	align-items : center ;
	float : right ;
	margin-right : 10px ;
	margin-bottom : 60px ;
	}
	
.img {
	width : 500px ;	
	}
